{% extends "layout.html" %}

{% block title %}
    FaitesVosJE | Gestion des admins
{% endblock %}

{% block content %}
    <div class="container d-flex flex-column justify-content-center align-items-center p-5"
         style="min-height: 100%; height: 100%;">
        <div class="text-white mb-2 d-flex align-items-center">
            <a href="./menu" class="text-decoration-none text-white d-flex align-items-center p-2 m-3">
                <i class="fa-solid fa-house" style="font-size: 50px;"></i>
                <h2 class="m-2">Accueil</h2>
            </a>
            <a class="text-decoration-none text-white d-flex align-items-center p-2 m-3" data-bs-toggle="modal"
               data-bs-target="#addAdmin">
                <i class="fa-solid fa-plus" style="font-size: 50px;"></i>
                <h2 class="m-2">Ajouter un admin</h2>
            </a>
        </div>
        <div class="text-white text-center"><h4>Gestion des admins</h4></div>
        <div class="text-success text-center"><h5>{{ message }}</h5></div>
        <div class="text-danger text-center"><h5>{{ error }}</h5></div>
    </div>
    <div class="d-flex">
        <div class="container align-self-center mx-auto" style="height: 70vh; overflow-y: auto; overflow-x: auto;">
            {% for admin in admins %}
                <div class="row text-white text-center ranking-row d-flex justify-content-center align-items-center rounded mb-2">
                    <div class="col-1"><h2>#{{ admin.id }}</h2></div>
                    <div class="col-3"><h2>{{ admin.first_name }}</h2></div>
                    <div class="col-3"><h2>{{ admin.last_name }}</h2></div>
                    <div class="col-3"><h6>{{ admin.email }}</h6></div>
                    <div class="col-1">
                        <form action='../reset-password' method="post">
                            <input name="admin_id" value="{{ admin.id }}" hidden>
                            <button class="btn text-white" type="submit"><h2><i class="fa-solid fa-lock"></i></h2>
                            </button>
                        </form>
                    </div>
                    <div class="col-1">
                        <form action='../delete-admin' method="post">
                            <input name="admin_id" value="{{ admin.id }}" hidden>
                            <button class="btn text-white" type="submit"><h2><i class="fa-solid fa-trash"></i></h2>
                            </button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>





{% endblock %}
{% block modal %}
    <div class="modal fade" id="addAdmin" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter un admin</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="../create-admin" method="post">
                    <div class="modal-body">

                        <div class="mb-3">
                            <label for="first_name" class="form-label">Prénom</label>
                            <input type="text" class="form-control" name="first_name" id="first_name">
                        </div>
                        <div class="mb-3">
                            <label for="last_name" class="form-label">Nom</label>
                            <input type="text" class="form-control" name="last_name" id="last_name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" class="form-control" name="email" id="email">
                            <div id="emailHelp" class="form-text">L'utilisateur recevera un email avec son mot de
                                passe
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

