{% extends "layout.html" %}

{% block title %}
    FaitesVosJE | Gestion des parties
{% endblock %}

{% block content %}

    <div class="container d-flex flex-column justify-content-center align-items-center p-5"
         style="min-height: 100%; height: 100%;">
        <div class="text-white mb-2 d-flex align-items-center">
            <a href="./menu" class="text-decoration-none text-white d-flex align-items-center p-2 m-3">
                <i class="fa-solid fa-house" style="font-size: 50px;"></i>
                <h2 class="m-2">Accueil</h2>
            </a>
            <a class="text-decoration-none text-white d-flex align-items-center p-2 m-3" data-bs-toggle="modal"
               data-bs-target="#addTable">
                <i class="fa-solid fa-plus" style="font-size: 50px;"></i>
                <h2 class="m-2">Ajouter une table</h2>
            </a>
        </div>
        <div class="text-white text-center"><h4>Gestion des parties</h4></div>
        <div class="text-success text-center"><h5>{{ message }}</h5></div>
        <div class="text-danger text-center"><h5>{{ error }}</h5></div>
    </div>
    <div class="d-flex">
        <div class="container align-self-center mx-auto" style="height: 50vh; overflow-y: auto;">
            {% for room in game_rooms %}
                <a href="./game-party/{{ room.room_code }}" class="text-decoration-none text-white">
                    <div class="row text-white text-center ranking-row d-flex justify-content-center align-items-center rounded mb-2">
                        <div class="col-2"><h2>#{{ room.room_code }}</h2></div>
                        <div class="col-5"><h2>{{ room.room_name }}</h2></div>
                        <div class="col-4"><h2>{{ room.player_count }} <i class="fa-solid fa-user"></i></h2></div>
                        <div class="col-1">
                            <form action='./delete-game-room' method="post">
                                <input name="room_code" value="{{ room.room_code }}" hidden>
                                <button class="btn text-white" type="submit"><h2><i class="fa-solid fa-trash"></i></h2></button>
                            </form>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
{% block modal %}
    <div class="modal fade" id="addTable" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Ajouter une table de jeu</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form action="./add-game-room" method="post">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="nom" class="form-label">Nom de la table</label>
                            <input type="text" class="form-control" name="room_name" id="nom">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-primary">Créer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}