<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec arrière-plan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="code-form-container">
         <div class="code-image-container">
            <img src="{{ url_for('static', filename='media/chimielilleetudes.png') }}" alt="Description de l'image">
        </div>
        <form method="POST" action="/submit">
            <div class="input-group">
                <input type="text" maxlength="1" required pattern="\d" name="digit1">
                <input type="text" maxlength="1" required pattern="\d" name="digit2">
                <input type="text" maxlength="1" required pattern="\d" name="digit3">
                <input type="text" maxlength="1" required pattern="\d" name="digit4">
                <input type="text" maxlength="1" required pattern="\d" name="digit5">
                <input type="text" maxlength="1" required pattern="\d" name="digit6">
            </div>
            <div class="code-button-container">
                <button type="submit" class="btn btn-success btn-lg">Valider</button>
            </div>
        </form>
    </div>
</body>
</html>
