{% extends "layout.html" %}

{% block title %}
    Connection
{% endblock %}

{% block content %}
    <div class="container code-form-container">
         <div class="code-image-container mb-5">
             <img src="{{ url_for('static', filename='media/chimielilleetudes.png') }}" alt="Chimie Lille Etude">
             <h5 class="text-center text-white mt-3">Chimie Lille Étude</h5>
        </div>
        <div class="container">
            <h3 class="text-center text-white mb-4">Connection Admin</h3>
        </div>
        <form class="text-white">
            <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" class="form-control" id="email">
            </div>
          <div class="mb-3">
            <label for="pass" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="pass">
          </div>
          <button type="submit" class="btn btn-secondary">Se connecter</button>
        </form>
        <div class="code-image-container text-center text-white mt-5">
             <i class="fa-solid fa-flask-vial" style="font-size: 50px;"></i>
        </div>
    </div>
{% endblock %}
